html {
  position: relative;
  min-height: 100%;
}
.navbar{
  height:60px;
  overflow-y:visible;
}
.nav-link{
  font-size:20px;
  font-weight:bold;
}
.navbar-collapse{
  padding-left:125px;
  z-index:999999;
}
.active>a{
    color:red;
  }
.curlingLogo{
  position:absolute;
  z-index:2000;
}
main{
  background-color:inherit;
  padding-bottom:21em;
}
span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: black;
  border-color: black;
}
.card{
  height:415px;
  margin-left: auto;
  margin-right: auto;
}
.card-img-top{
  height:150px;
}
.footer {
  position: absolute;
  width: 100%;
  bottom:0;
  margin-top:25px;
}