<!-- Footer -->
<footer class="footer pt-2 font-smallpt-4">
    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row px-5">
        <!-- Grid column -->
        <div class="col-md-5">
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold text-center">Oklahoma Curling</h5>
          <p>The Oklahoma Curling Club is a 501(c)(3) non-profit corporation dedicated to promoting the Olympic sport of
            curling in the state of Oklahoma.</p>
        </div>
        <!-- Grid column -->
        <div class="col-md-2"></div>
        <!-- Grid column -->
        <div class="col-md-5">
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold text-center">Email List</h5>
          <p>Sign up to get all the latest news about Learn to Curl events, league play, and other fun events.</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="e-mail" aria-label="e-mail"
              aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2">Sign Up</button>
            </div>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center">© 2019 Copyright:
      <a href="okcurling@gmail.com">Oklahoma Curling Club</a>
    </div>
    <!-- Copyright -->
</footer>