<a class="curlingLogo pl-1 pt-1" href="http://www.okcurling.com/">
    <img src="./resources/images/OKCC_LogoV3_0916.png">
  </a>
  <!-- Navbar Start -->
  <nav class="navbar sticky-top navbar-expand-lg bg-light text-uppercase" data-toggle="collapse">
    <!--This navbar-brand is needed to trick the collapse menu to move to the right -->
    <a class="navbar-brand" href="http://www.okcurling.com/"></a>
    <!-- Bootstrap CSS -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item btn">
          <a class="nav-link" href="../index.html">Home</a>
        </li>
        <li class="nav-item btn">
          <a class="nav-link" href="../about.html">About</a>
        </li>
        <li class="nav-item btn">
          <a class="nav-link" href="../learn.html">Learn</a>
        </li>
        <li class="nav-item btn dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            League Play
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="../schedule.html">Schedule</a>
            <a class="dropdown-item" href="../standings.html">Standings</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Social Media Start -->
  <div id="social" align="right">
    <a href="http://www.facebook.com/okcurling" class="sociallink">
      <img src="../resources/images/facebookIcon.png" alt="Facebook f logo">
    </a>
    <a href="http://www.twitter.com/okcurling" class="sociallink">
      <img src="../resources/images/twitterIcon.png" alt="Twitter logo">
    </a>
    <a href="http://www.instagram.com/okcurling" class="sociallink">
      <img src="../resources/images/instagramIcon.png" alt="Instagram icon">
    </a>
    <a href="http://www.youtube.com/okcurling" class="sociallink">
      <img src="../resources/images/youtubeIcon.png" alt="YouTube icon">
    </a>
  </div>